@model ConsoleApp_StudentManagementSystem.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name"
               class="form-control" />
        <span asp-validation-for="Name"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Maths"></label>
        <input asp-for="Maths"
               class="form-control" />
        <span asp-validation-for="Maths"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Physics"></label>
        <input asp-for="Physics"
               class="form-control" />
        <span asp-validation-for="Physics"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Chemistry"></label>
        <input asp-for="Chemistry"
               class="form-control" />
        <span asp-validation-for="Chemistry"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="English"></label>
        <input asp-for="English"
               class="form-control" />
        <span asp-validation-for="English"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Programming"></label>
        <input asp-for="Programming"
               class="form-control" />
        <span asp-validation-for="Programming"
              class="text-danger"></span>
    </div>

    <button type="submit"
            class="btn btn-primary">
        Save
    </button>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}